.App {
  text-align: center;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(./assets/font/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "OpenSans";
  src: url(./assets/font/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans-Semi";
  src: url(./assets/font/OpenSans/OpenSans-SemiBold.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
